canvas{
    border: 2px solid snow;
    border-radius: 5px;
    width: 40%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.content > form{
    width: 40%;
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 5%;
}